<!DOCTYPE html>
<html>

<head>
    <title>Car Wash :: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<style>
    #chat_btn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 50px;
        height: 50px;
    }

    .chat_btn {
        display: none;
    }

    #chat_btn:hover {
        cursor: pointer;
    }

    .close {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 35px;
        top: -5px;
        z-index: 1;
        background-image: url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #menu {
        width: 350px;
        height: 100%;
        position: fixed;
        top: 0px;
        right: -352px;
        z-index: 10;
        border: 1px solid #c9c9c9;
        background-color: white;
        text-align: center;
        transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
    }

    #menu.open {
        right: 0px;
    }

   
</style>

<body>
    <!-- header -->
    <div class="jumbotron text-center mb-0">
        <h1>Foambble Bobble Car Wash</h1>
        <p>전국 셀프세차인에게 유용한 정보들과 세차인들간의 커뮤니케이션을 위한 사이트</p>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Foambble Bobble</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">공지사항</a></li>
                <li class="nav-item"><a href="#" class="nav-link">갤러리</a></li>
                <li class="nav-item"><a href="#" class="nav-link">앨범</a></li>
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class="container pt-3">
        <div class="row">
            <!-- left content -->
            <div class="col-sm-4">
                <h2>About Foambble Bobble</h2>
                <p>코딩온 웹프로젝트 6조</p>
                <img src="../static/img/carwash_img1.jpg" class="img-fluid rounded">
                <p>세차좋아요</p>
                <hr>
                <!-- side menu (link) -->
                <h3>사이드 메뉴</h3>
                <p>이웃 홈페이지를 통해 세차 소식을 즐겨보세요!</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action"><a href="#">세차 폼</a></li>
                    <li class="list-group-item list-group-item-action"><a href="#">경기북부가 세차왕이야!</a></li>
                    <li class="list-group-item list-group-item-action"><a href="#">세린이모임</a></li>
                </ul>
                <hr>
                <h3>오늘의 세차장</h3>
                <img src="../static/img/carwash_img2.jpg" class="img-fluid rounded p-3">

                <img src="../static/img/carwash_img3.jpg" class="img-fluid rounded p-3">
            </div>
            <!-- right content -->
            <div class="col-sm-8">
                <h2>Foambble Bobble</h2>
                <p>2022년 8월, 새롭게 오픈</p>
                <img src="../static/img/carwash_img1.jpg" class="img-fluid rounded">
                <hr>
                <!-- side menu (link) -->
                <h3>오늘의 소식!</h3>
                <p>Foambble Bobble의 세차장 랭킹시스템이 인기 고공행진 중이다.</p>
                <p>작성하고 싶은 내용을 기록하세요!</p>
                <div class="text-center">
                    <img src="../static/img/carwash_img2.jpg" class="img-fluid rounded mb-3">
                </div>
                <p>작성하고 싶은 내용을 기록하세요!</p>
                <p>작성하고 싶은 내용을 기록하세요!</p>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="jumbotron text-center mt-5 mb-0">
        <h3 class="text-secondary">Foambble Bobble</h3>
        <p>Foambble Bobble Homepage is Designed by <span class="text-primary">6 group</span></p>
    </div>


    <div id="menu">
        <div class="close"></div>
        <div class="container">
            <img id="chat_btn" src="./static/img/static/img/chatimg.png" alt="">
            <iframe id="chat" src="https://service.dongledongle.com/carwashchat" frameborder="0" width="100%"
                height="900vh"></iframe>
        </div>
    </div>


    <!-- --------------------------------------------------------------------------------------------------------------->
    <script>
        // 버튼 클릭시 우측에서 슬라이드 나오면서 버튼은 사라짐
        $("#chat_btn").click(function () {
            $("#menu").addClass("open");
            $("#chat_btn").addClass("chat_btn");

        });
        // X버튼 클릭시 슬라이드 들어가면서 버튼은 생성됨
        $(".close").click(function () {
            $("#menu").removeClass("open");
            $("#chat_btn").removeClass("chat_btn");
        });
    </script>

</body>

</html>